/*HEADER*/

header {
    background-color: $color-primario;
    font-size: 30px;
    height: 135px;
    width: 100%;
  
    nav ul {
      list-style: none;
      display: flex;
      justify-content: right;
      align-items: center;
  
      li {
        margin: 5px 15px 5px 15px;
  
        a {
          text-decoration: none;
          color: $color-secundario;
          background-color: $color-primario;
        }
      }
    }   
    h1 img {
      height: 135px;
    }
  }