/*---- VARIABLES-------*/
$color-primario: rgb(0, 0, 0);
$color-secundario: rgb(255, 255, 255);
$color-terciario: rgba(92, 189, 204, 255);



//* MAPAS *//

$boton: (
    /*key- value*/
    fondo:black,
    borde: 2px solid white,
    text-color:white,
);

.boton {
    background-color: map-get($boton, fondo);
    border: map-get($boton, border);
    color: map-get($boton, text-color);
}

//* EXTENDS*//

%flex{
    display:flex;
    justify-content: center;
    align-items: center;
}


.galeria{
    background-color: aqua;
    border:2px solid black;
    @extend %flex;
}
.galeria-2{
    background-color: crimson;
    border: 2px solid tomato;
    @extend %flex
}